/* Importing google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/* Resetting default properties of all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* For Debuging */
    /* outline: 1px yellow solid; */
}

body {
    font-family: "Open Sans", sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

/* List without dots */
ul {
    list-style: none;
}

/* Links without underline */
a {
    color: #333;
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

/* Images will take full width size */
img {
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    /* Items are in center Y axies */
    align-items: center;
    /* Logo on left and nav items on right X axies */
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    /* Height of navbar */
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #28a745 2px solid;
}

.navbar ul {
    /* In order to align list items in ul of navbar we apply flex property */
    display: flex;
}

.navbar .logo {
    font-weight: 400;
}

/* Header */

.hero {
    background: url(../images/home/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    /* We will add overlay over hero image so it needs to be relative */
    position: relative;
    /* Color of the text */
    color: #fff;
}

/* Content on hero Page */
.hero .content {
    /* Takes the height of whole parent container i.e. class='hero' */
    height: 100%;
    display: flex;
    /* Y axies are main axies */
    flex-direction: column;
    /* On Y axies Content will be on center */
    justify-content: center;
    /* On X axies text will be aligned center and will use whole space*/
    text-align: center;
    /* On X axies Content will be on center and will not use whole space, and depends on content */
    align-items: center;
    padding: 0 20px;
}

.hero .content h1 {
    font-size: 3.5rem;
}

.hero .content p {
    font-size: 1.5rem;
    /* Maximum Width of the container */
    max-width: 37.5rem;
    margin: 20px 0 30px;
}

/* It is child element of hero that comes right after */
.hero::before {
    content: "";
    /* overlay over hero image so it needs to be absolute */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

/* All elements inside hero will come forward */
.hero * {
    z-index: 10;
}

/* Icons */

.icons {
    padding: 30px;
}

/* Icons Designing */
.icons i {
    padding: 1rem;
    background-color: #28a745;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
